#root {
    background-color: #F1F2F4;
    max-width: 100vw;
	overflow: hidden;
	min-height: 100vh;
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

.loading {
	border: 7px solid #1B2730;
	border-radius: 50%;
	border-top-color: #4caf50;
	border-right-color: #4caf50;
	border-left-color: #4caf50;
	animation: spinner 1s linear infinite;
	margin-left: auto;
	margin-right: auto;
}

.dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.7);
}

.categories {
	height : 24rem;
	transition: height 500ms ease-in-out;
}

.categoriesExpanded {
	height : 1000px
}
