@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.dialog {
  transition: all 1s linear;
}
.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}